---
- name: "Template systemd files"
  ansible.builtin.template:
    src: "systemd/{{ item.src }}"
    dest: "/etc/systemd/system/{{ item.unit }}.service"
    mode: "0644"
  notify:
    - "Reload systemd"
    - "Restart AIPscan services"
  loop:
    - src: "aipscan-worker.service.j2"
      unit: "{{ aipscan_celery_systemd_unit_name }}"
    - src: "aipscan.service.j2"
      unit: "{{ aipscan_gunicorn_systemd_unit_name }}"
  loop_control:
    label: "{{ item.unit }}"

- name: "Template environment file"
  ansible.builtin.template:
    src: "aipscan_environment.j2"
    dest: "{{ aipscan_environment }}"
    mode: "0644"
  notify:
    - "Restart AIPscan services"

- name: "Apply service configuration changes"
  ansible.builtin.meta: "flush_handlers"

- name: "Enable services"
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    daemon_reload: true
  loop:
    - "{{ aipscan_celery_systemd_unit_name }}"
    - "{{ aipscan_gunicorn_systemd_unit_name }}"
  loop_control:
    label: "{{ item }}"
