---
- name: "Reload systemd"
  ansible.builtin.systemd:
    daemon_reload: true

- name: "Restart AIPscan services"
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
  loop:
    - "{{ aipscan_gunicorn_systemd_unit_name }}"
    - "{{ aipscan_celery_systemd_unit_name }}"
  loop_control:
    label: "{{ item }}"
