---
- name: "Reload systemd"
  ansible.builtin.systemd:
    daemon_reload: true

- name: "Restore SELinux labels"
  ansible.builtin.command:
    argv:
      - "restorecon"
      - "-Rv"
      - "{{ aipscan_install_dir }}"
  register: restorecon_result
  changed_when: >
    restorecon_result.stdout is defined
    and (restorecon_result.stdout | trim | length) > 0

- name: "Restart AIPscan services"
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
  loop:
    - "{{ aipscan_gunicorn_systemd_unit_name }}"
    - "{{ aipscan_celery_systemd_unit_name }}"
  loop_control:
    label: "{{ item }}"
