[Unit]
Description=Gunicorn instance to serve AIPscan
After=network.target

[Service]
User={{ aipscan_user }}
Group={{ aipscan_group }}
WorkingDirectory={{ aipscan_install_dir }}
EnvironmentFile=-{{ aipscan_environment }}
ExecStart={{ aipscan_virtualenv }}/bin/gunicorn --workers 3 --bind {{ aipscan_bind_host }}:{{ aipscan_bind_port }} "AIPscan:create_app()"
Restart=always

[Install]
WantedBy=multi-user.target
